
.is-hiden {
display: none;
}

.load-more-container {
    display: flex;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.load-more {
    justify-content: center;
    border-radius: 4px;
    border: none;
    background-color: rgb(250, 116, 62);
    color: white;
    padding: 6px;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    box-shadow: 0 2px rgb(250 116 62 / 100%);
    transition: background-color .25s cubic-bezier(.4, 0, .2, 1), color .25s cubic-bezier(.4, 0, .2, 1), border-bottom .25s cubic-bezier(.4, 0, .2, 1), box-shadow .25s cubic-bezier(.4, 0, .2, 1);
}

.load-more:hover {
    background: #e8e8e9;
    color: rgb(250, 116, 62);
    
}